.app.dark {
  --bg-color: #3d3d3d;
  --inverted-bg-color: #e0e0e0;

  --primary-color: #d9d9d9;
  --secondary-color: #ababab;
  --inverted-primary-color: #656565;
  --inverted-secondary-color: #181818;
}