.app_light_theme {
  --bg-color: #e0e0e0;
  --inverted-bg-color: #3d3d3d;
  --primary-color: #656565;
  --secondary-color: #181818;
  --inverted-primary-color: #d9d9d9;
  --inverted-secondary-color: #ababab;
}
